{% extends 'store/main.html' %}
{% load static %}
{% block content %}
  <main class="-fullWidth">
    <div>
      <style type="text/css">
        @media screen {
          height:75vh;
          width:100%
        }
      </style>
        <img src="static/images/swing3.jpg" width=100%>
    </div>
  </main>
  <div class="row">
    {% for product in products %}
    <div class="col-lg-4">
      <a href="{% url 'product_view' %}">
      <img class="img-fluid img-thumbnail" src="{{ product.imageURL }}">
      </a>
      <div class="box-element-product">
        <a href="{% url 'product_view' %}">
        <h6><strong>{{ product.name }}</strong></h6>
        </a>
        <hr>

        <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
		    <a class="btn btn-outline-success" href="{% url 'product_view' %}">View</a>
		    <h4 style="display: inline-block; float: right"><strong>
        £{{ product.price|floatformat:2 }}</strong></h4>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock content %}
